@font-face {
  font-family: "gt-pressura-regular-italic";
  src: url("./fonts/gt-pressura-regular-italic.ttf");
}
@font-face {
  font-family: "gt-pressura-bold";
  src: url("./fonts/gt-pressura-bold.ttf");
}
@font-face {
  font-family: "gt-pressura-light";
  src: url("./fonts/gt-pressura-light.ttf");
}